<%= render '/partials/head.*' %>

<body>
<div id="main">
    <h1>
        <%= @item[:title] %>
        <!-- (<%= items_with_tag('poetry').length %>) -->
    </h1>

    <%= yield %>

<!--    Uncomment when ready to publish.-->
    <h2>🀐 Songs against a wall</h2>
    <ul class="catalog">
        <% items_with_tag('song').sort_by { |s| attribute_to_time(s[:created_at])}.each do |poetry| %>
        <li>
            <%= poetry[:created_at] %>
            <%= link_to poetry[:title], poetry.path %>
        </li>
        <% end %>
    </ul>

    <h2>◉ Uncollected</h2>
    <ul class="catalog">
        <% items_with_tag('poetry').sort_by { |s| attribute_to_time(s[:created_at])}.each do |poetry| %>
        <li>
            <%= poetry[:created_at] %>
            <%= link_to poetry[:title], poetry.path %>
        </li>
        <% end %>
    </ul>
    <%= render '/partials/footer.*' %>
</div>

<%= render '/partials/sidebar.*' %>
</body>

</html>
