<%= render '/partials/head.*' %>

<body>
<div id="main">
    <h1><%= @item[:title] %></h1>

    <table>
        <tr>
            <td>Author</td>
            <td><%= @item[:author] %></td>
        </tr>
        <tr>
            <td>Vote</td>
            <td><%= @item[:vote] %></td>
        </tr>
        <tr>
            <td>Reviewed on</td>
            <td><%= @item[:created_at] %></td>
        </tr>
    </table>

    <%= yield %>

    <%= render '/partials/footer.*' %>
</div>

<%= render '/partials/sidebar.*' %>
</body>
</html>
