<%= render '/partials/head.*' %>
<body>
<div id="main">
    <h1>
        <%= items_with_tag('song').length %> <%= @item[:title] %>
    </h1>

    <%= yield %>

    <ul class="catalog">
        <% items_with_tag('song').sort_by { |s| attribute_to_time(s[:created_at])}.each do |song| %>
        <li>
            <%= song[:created_at] %> <%= link_to song[:title], song.path %>
        </li>
        <% end %>
    </ul>
    <%= render '/partials/footer.*' %>
</div>

<%= render '/partials/sidebar.*' %>
</body>

</html>
